<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppSamuel</display-name>
  <welcome-file-list>
    <welcome-file>coordenador.html</welcome-file>
    <welcome-file>professor.html</welcome-file>
    <welcome-file>estudante.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EstudanteController</display-name>
    <servlet-name>EstudanteController</servlet-name>
    <servlet-class>controle.EstudanteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstudanteController</servlet-name>
    <url-pattern>/EstudanteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorController</display-name>
    <servlet-name>ProfessorController</servlet-name>
    <servlet-class>controle.ProfessorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorController</servlet-name>
    <url-pattern>/ProfessorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoordenadorController</display-name>
    <servlet-name>CoordenadorController</servlet-name>
    <servlet-class>controle.CoordenadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoordenadorController</servlet-name>
    <url-pattern>/CoordenadorController</url-pattern>
  </servlet-mapping>
</web-app>